.to-do-item {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__form-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.text-line-through {
  text-decoration-line: line-through;
}
canvas {
  width: 400px;
  height: 400px;
}
