h1{
    background: red;
    text-align: center;
}


.gridContainer{
    display: grid;
    grid-template-areas: 'data line form';
    grid-template-columns: auto 3px auto;
    justify-content: space-around;
    column-gap: 100px;
}

.dataContainer{
    grid-area: data;
}

#line{
    grid-area: line;
    width: 2px;
    background: black;
}

.formContainer{
    grid-area: form;
    display: flex;
    flex-direction: column;
}

#titleInput{
    max-width: 250px;
    margin-bottom: 10px;
}
#descriptionInput{
    max-width: 250px;
    margin-bottom: 10px;

 
}

#saveButton{
    max-width: 250px;
    align-self: flex-start;
    margin-top: 10px;

}

.deleteButton{
    margin-left: 10px;
}

.description{
    color: dodgerblue;
}

li{
    cursor: pointer;
}

.checked{
    text-decoration: line-through;
}